@use "../global" as global;

.c-heading01 {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-en);

  span {
    display: inline-block;
  }

  @include global.mq("md") {
    font-size: 60px;
  }
}

.c-heading01__text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(var(--c-primary08), var(--c-primary02));
}

.c-heading01__description {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--c-primary03);

  @include global.mq("md") {
    font-size: 14px;
  }
}

.c-heading02 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-en);

  @include global.mq("md") {
    font-size: 42px;
    font-weight: 700;
  }
}

.c-heading02__text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(var(--c-primary08), var(--c-primary02));
}
