.c-sns__links {
  display: flex;
}

.c-sns__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #222;

  svg {
    width: 16px;
    height: auto;
  }
}
