@use "../global" as global;
/* ============================
p-home-mv
 ============================ */

.p-home-mv__inner {
  height: 100vh;
  min-height: 400px;
  margin: 0 auto;
  padding: 120px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include global.mq("md") {
    max-width: 1200px;
    min-height: 600px;
  }
}

.p-home-mv__content {
  position: relative;
}

.p-home-mv__title {
  font-size: 58px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  white-space: nowrap;
  text-align: center;

  @include global.mq("md") {
    font-size: 90px;
  }

  @include global.mq("lg") {
    font-size: 100px;
  }
}

.p-home-mv__title-text {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(var(--c-primary08), var(--c-primary02));

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.p-home-mv__title-text01::before {
  background-image: linear-gradient(90deg, #cb5f5f, #edcb6d);
  animation: animate-gradient-mv-text_fade 9s infinite;
  animation-delay: -6s;
}

.p-home-mv__title-text02::before {
  background-image: linear-gradient(90deg, #6d9aed, #5fbfcb);
  animation: animate-gradient-mv-text_fade 9s infinite;
  animation-delay: -3s;
}

.p-home-mv__title-text03 {
  margin-left: 5px;

  &::before {
    background-image: linear-gradient(90deg, #62009f, #e06d6d);
    animation: animate-gradient-mv-text_fade 9s infinite;
    animation-delay: -9s;
  }
}

@keyframes animate-gradient-mv-text_fade {
  0% {
    opacity: 0;
  }

  56.6% {
    opacity: 0;
  }

  66.6% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.p-home-mv__scroll {
  position: relative;
  margin-top: 40px;
  padding-bottom: 90px;
}

.p-home-mv__scroll-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 5px;
  height: 75px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--c-shadow02);
  background-color: var(--c-secondary01);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--c-primary02);

    animation: animation-scroll-down 2s infinite ease;
  }
}

@keyframes animation-scroll-down {
  0% {
    top: -12px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.p-home-mv__scroll-text {
  display: block;
  font-family: var(--font-en);
}
