.p-index-about {
  margin-top: 125px;
}

.p-index-about__row {
  display: flex;
  justify-content: space-between;
}

.p-index-about__heading {
  padding-top: 5px;
}

.p-index-about__content {
  max-width: 770px;
}

.p-index-about__text {
  font-size: 22px;
  line-height: 1.5;
}
