@use "../global" as global;

.p-work-main {
  margin-top: 40px;

  @include global.mq("md") {
    margin-top: 50px;
  }
}

.p-work-main__contents {
  font-size: 14px;

  @include global.mq("md") {
    font-size: 16px;
  }

  > *:first-child,
  > *:first-child * {
    margin-top: 0;
  }

  > *:last-child,
  > *:last-child * {
    margin-bottom: 0;
  }

  h2 {
    margin: 40px 0 20px;
    font-size: 22px;
    font-weight: 500;

    @include global.mq("md") {
      margin: 50px 0 25px;
      font-size: 26px;
    }
  }

  // 文章
  p {
    margin-top: 15px;
    line-height: 2;

    @include global.mq("md") {
      margin-top: 20px;
    }
  }

  a {
    color: #6d9aed;
    text-decoration: underline;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  // list
  ul {
    margin: 20px 0;
    padding-left: 10px;

    @include global.mq("md") {
      padding-left: 15px;
    }
  }

  li {
    position: relative;
    padding-left: 12px;
    line-height: 1.75;

    &:not(:first-of-type) {
      margin-top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: var(--c-primary04);
    }

    @include global.mq("md") {
      padding-left: 15px;

      &::before {
        top: 13px;
        width: 4px;
        height: 4px;
      }
    }
  }

  // 画像
  img {
    display: block;
    width: 100%;
    margin: 40px 0;

    @include global.mq("md") {
      margin: 50px 0;
    }
  }
}

.p-works-main__button-wrap {
  margin-top: 50px;
  text-align: center;

  @include global.mq("md") {
    margin-top: 75px;
  }
}
