@use "../global" as global;

.p-works-articles {
  @include global.mq("md") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include global.mq("lg") {
    display: block;
  }
}

.p-works-article {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--c-secondary01);
  border: 1px solid var(--c-secondary05);
  transition: box-shadow 0.4s ease, border 0.4s ease;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  @include global.mq("md") {
    width: calc((100% - 30px) / 2);

    &:not(:first-of-type) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 30px;
    }
  }

  @include global.mq("lg") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    border-radius: 20px;

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  @include global.mq("xl") {
    padding: 30px;
  }
}

.p-works-article:hover {
  box-shadow: 0px 0px 20px -10px var(--c-shadow04);
  border: 1px solid var(--c-secondary01);

  .p-works-article__arrow {
    background-color: var(--c-primary01);
  }

  .p-works-article__thumbnail img {
    transform: scale(1.01);
  }

  @include global.mq("lg") {
    box-shadow: inset 9px 9px 18px var(--c-secondary07), inset -9px -9px 18px var(--c-secondary01);

    .p-works-article__thumbnail img {
      transform: scale(1);
    }
  }
}

.p-works-article__thumbnail {
  width: 100%;
  @include global.mq("lg") {
    width: 320px;
  }

  @include global.mq("xl") {
    width: 380px;
  }
}

.p-works-article__thumbnail-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 63%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease 0s;
  }

  @include global.mq("lg") {
    img {
      transform: scale(1.05);
    }
  }
}

.p-works-article__contents {
  padding: 20px 22px;

  @include global.mq("lg") {
    padding: 0;
    width: calc(100% - 320px - 25px);
    display: flex;
    flex-direction: column-reverse;
  }

  @include global.mq("xl") {
    width: calc(100% - 380px - 25px);
  }
}

.p-works-article__content {
  padding-left: 3px;

  @include global.mq("lg") {
    margin-top: 20px;
  }
}

.p-works-article__time {
  font-size: 14px;
  font-weight: 500;
  color: var(--c-primary09);
  letter-spacing: 0.02em;
}

.p-works-article__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.025em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;

  @include global.mq("lg") {
    margin-top: 5px;
  }
}

.p-works-article__description {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  min-height: 49px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;

  @include global.mq("md") {
    line-height: 2;
    min-height: 56px;
  }

  @include global.mq("xl") {
    -webkit-line-clamp: 3;
  }
}

.p-works-article__categories {
  position: relative;
  margin-top: 20px;
  padding-right: 30px;

  @include global.mq("lg") {
    margin-top: 0;
    padding-right: 0;
  }
}

.p-works-article__category {
  display: inline-block;
  padding: 5px 14px 3px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-en);
  color: var(--c-secondary01);
  background: linear-gradient(150deg, var(--c-primary04), var(--c-primary09));
  border-radius: 100px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.p-works-article__arrow {
  position: absolute;
  right: 20px;
  bottom: 19px;
  background-color: var(--c-primary04);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: background-color 0.4s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../../images/icons/icon_arrow01.svg);
    filter: brightness(0) invert(1);
  }

  @include global.mq("lg") {
    right: 30px;
    bottom: 25px;
  }
}

[data-theme="dark"] .p-works-article__arrow {
  &::before {
    filter: brightness(1) invert(0);
  }
}
