@use "../global" as global;

.p-work {
  padding-top: 160px;
}

.p-work__inner {
  max-width: 900px;
  margin: 0 auto;
}

.p-work-top__heading {
  position: relative;
  padding-right: 70px;

  @include global.mq("md") {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 0;
  }
}

.p-work-top__title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-right: 30px;

  @include global.mq("md") {
    margin-right: 30px;
    font-size: 30px;
  }
}

.p-work-top__date {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  color: var(--c-primary09);

  @include global.mq("md") {
    position: static;
    transform: translateY(0);
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }
}

.p-work-top__categories {
  margin-top: 15px;
}

.p-work-top__category {
  display: inline-block;
  padding: 5px 14px 3px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-en);
  color: var(--c-secondary01);
  background: linear-gradient(150deg, var(--c-primary04), var(--c-primary09));
  border-radius: 100px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.p-work-top__description {
  margin-top: 25px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 1.75;

  @include global.mq("md") {
    font-size: 16px;
  }
}
