@use "../global" as global;

.p-about-profile {
  margin-top: 60px;

  @include global.mq("md") {
    margin-top: 90px;
  }
}

.p-about-profile__grid {
  @include global.mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.p-about-profile__heading {
  @include global.mq("md") {
    width: 280px;
  }

  @include global.mq("lg") {
    width: 300px;
  }
}

.p-about-profile__contents {
  margin-top: 40px;
  @include global.mq("md") {
    margin-top: 0;
    width: calc(100% - 280px);
  }

  @include global.mq("lg") {
    width: calc(100% - 300px);
  }
}

.p-about-profile__content {
  &:not(:last-of-type) {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  &:not(:first-of-type) {
    margin-top: 40px;
  }

  @include global.mq("md") {
    &:not(:last-of-type) {
      padding-bottom: 0;
      border-bottom: 0;
    }

    &:not(:first-of-type) {
      margin-top: 60px;
    }
  }
}

.p-about-profile__title {
  font-size: 18px;
  font-weight: 500;

  @include global.mq("md") {
    font-size: 20px;
  }
}

.p-about-profile__description {
  margin-top: 15px;
  line-height: 2;

  @include global.mq("md") {
    margin-top: 20px;
  }

  @include global.mq("lg") {
    font-size: 18px;
  }
}
