@use "../global" as global;

.p-contact__link {
  position: relative;
  display: block;
  padding: 50px 0;

  width: 100%;
  text-align: center;
  background-color: var(--c-primary02);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--c-primary04);
  }

  @include global.mq("md") {
    padding: 74px 0;
  }
}

.p-contact__text {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-right: 50px;
  font-size: 50px;
  font-weight: 700;
  font-family: var(--font-en);
  letter-spacing: 0.05em;

  @include global.mq("md") {
    font-size: 70px;
    padding-right: 87px;
  }

  @include global.mq("lg") {
    font-size: 80px;
  }
}

.p-contact__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  transform: translateY(calc(-50% + 2px)) rotate(-45deg);

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -1px;
    width: 15px;
    height: 4px;
    border-radius: 4px;
  }

  &::before {
    transform: rotate(45deg);
    top: -5px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 5px;
  }

  @include global.mq("md") {
    width: 40px;

    &::before,
    &::after {
      width: 18px;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }
}
