@use "../global" as global;

/* ============================
p-home-mv
 ============================ */
.p-home-mv__wrap {
  position: relative;
  overflow: hidden;
  padding: 140px 0 260px;
  max-width: 1400px;
  margin: 0 auto;

  @include global.mq("md") {
    padding: 190px 0 120px;
  }

  @include global.mq("lg") {
    padding: 220px 0 170px;
  }

  @include global.mq("xl") {
    padding: 220px 0;
  }
}

.p-home-mv__inner {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include global.mq("md") {
    padding: 0 30px;
    max-width: 1200px;
  }
}

.p-home-mv__content {
  position: relative;
  z-index: 2;
}

.p-home-mv__title {
  font-size: 52px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  white-space: nowrap;

  @include global.mq("md") {
    font-size: 80px;
  }

  @include global.mq("lg") {
    font-size: 90px;
  }

  @include global.mq("xl") {
    font-size: 100px;
  }
}

.p-home-mv__title-text {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(var(--c-primary08), var(--c-primary02));

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.p-home-mv__title-text01::before {
  background-image: linear-gradient(90deg, #cb5f5f, #edcb6d);
  animation: animate-gradient-mv-text_fade 9s infinite;
  animation-delay: -6s;
}

.p-home-mv__title-text02::before {
  background-image: linear-gradient(90deg, #6d9aed, #5fbfcb);
  animation: animate-gradient-mv-text_fade 9s infinite;
  animation-delay: -3s;
}

.p-home-mv__title-text03::before {
  background-image: linear-gradient(90deg, #62009f, #e06d6d);
  animation: animate-gradient-mv-text_fade 9s infinite;
  animation-delay: -9s;
}

@keyframes animate-gradient-mv-text_fade {
  0% {
    opacity: 0;
  }

  56.6% {
    opacity: 0;
  }

  66.6% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.p-home-mv__text {
  margin-top: 20px;
  padding-left: 3px;
  font-size: 24px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

  span {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #cb5f5f, #edcb6d);
  }

  @include global.mq("md") {
    font-size: 26px;
    margin-top: 25px;
    padding-left: 0;
  }

  @include global.mq("lg") {
    font-size: 30px;
  }
}

.p-home-mv__image-wrap {
  position: absolute;
  top: calc(100% - 20px);
  right: -20px;
  width: 100vw;
  padding-bottom: 81.5%;
  transform: translateY(-100%);

  img {
    width: 100%;
    height: auto;
  }

  @include global.mq("md") {
    width: 680px;
    top: 20px;
    right: -10px;
    transform: translateY(0);
  }

  @include global.mq("lg") {
    width: 800px;
    right: -20px;
  }

  @include global.mq("xl") {
    width: 900px;
  }
}

.p-home-mv__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-home-mv__image.is--dark {
  opacity: 0;
}

[data-theme="dark"] .p-home-mv__image.is--dark {
  opacity: 1;
}

[data-theme="dark"] .p-home-mv__image.is--light {
  opacity: 0;
}

.p-home-mv__scroll {
  position: absolute;
  bottom: 100px;
  left: 20px;

  @include global.mq("md") {
    bottom: 10px;
    left: 30px;
  }

  @include global.mq("xl") {
    left: calc((100% - 1140px) / 2 + 2px);
    bottom: 30px;
  }
}

.p-home-mv__scroll-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 5px;
  height: 75px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--c-shadow02);
  background-color: var(--c-secondary01);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--c-primary02);

    animation: animation-scroll-down 2s infinite ease;
  }
}

@keyframes animation-scroll-down {
  0% {
    top: -12px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.p-home-mv__scroll-text {
  display: inline-block;
  padding-left: 20px;
  height: 75px;
  line-height: 75px;
  font-family: var(--font-en);
}

/* ============================
p-home-about
 ============================ */
.p-home-about {
  margin-top: 90px;

  @include global.mq("md") {
    margin-top: 125px;
  }
}

.p-home-about__row {
  @include global.mq("lg") {
    display: flex;
    justify-content: space-between;
  }
}

.p-home-about__heading {
  text-align: center;

  @include global.mq("lg") {
    padding-top: 5px;
    text-align: left;
  }
}

.p-home-about__contents {
  margin-top: 30px;

  @include global.mq("md") {
    width: 100%;
  }

  @include global.mq("lg") {
    margin-top: 0;
    max-width: calc(100% - 360px);
  }
}

.p-home-about__text {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;

  @include global.mq("md") {
    line-height: 1.5;
    font-size: 22px;
  }
}

.p-home-about__button-wrap {
  margin-top: 40px;
  text-align: center;

  @include global.mq("md") {
    margin-top: 50px;
  }

  @include global.mq("lg") {
    text-align: right;
  }
}

/* ============================
p-home-works
 ============================ */
.p-home-works {
  margin-top: 90px;

  @include global.mq("md") {
    margin-top: 125px;
  }
}

.p-home-works__heading {
  text-align: center;
}

.p-home-works__contents {
  margin-top: 40px;

  @include global.mq("md") {
    margin-top: 60px;
  }
}

.p-home-works__articles {
  @include global.mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-home-works__article {
  position: relative;
  background-color: var(--c-secondary01);
  border-radius: 8px;
  transition: box-shadow 0.3s;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  @include global.mq("md") {
    width: calc((100% - 30px) / 2);

    &:not(:first-of-type) {
      margin-top: 0;
    }

    &:not(:nth-of-type(2n + 1)) {
      margin-left: 30px;
    }

    &:nth-of-type(n + 3) {
      margin-top: 30px;
    }
  }

  @include global.mq("lg") {
    width: calc((100% - 20px * 2) / 3);

    &:not(:nth-of-type(2n + 1)) {
      margin-left: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }

    &:not(:nth-of-type(3n + 1)) {
      margin-left: 20px;
    }

    &:nth-of-type(n + 4) {
      margin-top: 20px;
    }
  }

  @include global.mq("xl") {
    width: calc((100% - 30px * 2) / 3);

    &:not(:nth-of-type(3n + 1)) {
      margin-left: 30px;
    }

    &:nth-of-type(n + 4) {
      margin-top: 30px;
    }
  }
}

.p-home-works__article {
  > a {
    z-index: 3;
  }

  &:hover {
    .p-home-works__thumbnail::before {
      opacity: 0.2;
    }

    .p-home-works__arrow {
      opacity: 1;
    }

    .p-home-works__content {
      border-color: var(--c-secondary04);
    }
  }
}

.p-home-works__thumbnail {
  position: relative;
  overflow: hidden;
  padding-bottom: 61%;
  border-radius: 8px 8px 0 0;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s;
  }

  img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-home-works__arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 5px));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12.5px;
    height: 7.5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../../images/icons/icon_arrow01.svg);
    filter: brightness(0) invert(1);
  }
}

.p-home-works__content {
  padding: 20px 22px;
  border: 1px solid var(--c-secondary06);
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: var(--c-secondary01);
  transition: border-color 0.3s;
}

.p-home-works__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.p-home-works__description {
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.3;
  letter-spacing: 0.025em;
  min-height: 42px;

  @include global.mq("md") {
    margin-top: 20px;
  }
}

.p-home-works__type {
  display: block;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
  padding: 5px 14px 3px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-en);
  color: var(--c-secondary01);
  background: linear-gradient(150deg, var(--c-primary04), var(--c-primary09));
  border-radius: 100px;
}

.p-home-works__button-wrap {
  margin-top: 40px;
  text-align: center;

  @include global.mq("md") {
    margin-top: 60px;
  }
}

/* ============================
p-home-repository
 ============================ */
.p-home-repository {
  margin-top: 90px;

  @include global.mq("md") {
    margin-top: 125px;
  }
}

.p-home-repository__heading {
  text-align: center;
}

.p-home-repository__contents {
  margin-top: 40px;

  @include global.mq("md") {
    margin-top: 60px;
  }
}

.p-home-repository__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.75;

  @include global.mq("md") {
    font-size: 16px;
  }
}

.p-home-repository__list {
  @include global.mq("md") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.p-home-repository__item {
  position: relative;
  padding: 30px 25px 20px;
  border-radius: 5px;
  border: 1px solid var(--c-secondary06);
  background-color: var(--c-secondary01);
  transition: box-shadow 0.2s;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &:hover {
    border: 1px solid var(--c-secondary04);
    box-shadow: 0px 4px 8px var(--c-shadow01);
  }

  @include global.mq("md") {
    width: calc((100% - 20px) / 2);

    &:not(:first-of-type) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 20px;
    }
  }

  @include global.mq("lg") {
    width: calc((100% - 20px * 2) / 3);

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: 20px;
    }
  }
}

.p-home-repository__name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-en);
  letter-spacing: 0.025em;
}

.p-home-repository__description {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.025em;
  color: var(--c-primary04);
}

.p-home-repository__info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-home-repository__lang {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-family: var(--font-en);
  color: var(--c-primary08);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translateY(calc(-50% - 1px));
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--c-primary01), var(--c-primary08));
  }
}

.p-home-repository__icon {
  width: 16px;

  svg {
    width: 100%;
    height: auto;
  }
}

[data-theme="dark"] .p-home-repository__icon {
  img {
    filter: brightness(0) invert(1);
  }
}

.p-home-repository__button-wrap {
  margin-top: 40px;
  text-align: center;

  @include global.mq("md") {
    margin-top: 60px;
  }
}
