@use "../global" as global;

.p-home-repository {
  margin-top: 90px;

  @include global.mq("md") {
    margin-top: 125px;
  }
}

.p-home-repository__heading {
  text-align: center;
}

.p-home-repository__contents {
  margin-top: 40px;

  @include global.mq("md") {
    margin-top: 60px;
  }
}

.p-home-repository__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.75;

  @include global.mq("md") {
    font-size: 16px;
  }
}

.p-home-repository__list {
  @include global.mq("md") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.p-home-repository__item {
  position: relative;
  padding: 30px 25px 20px;
  border-radius: 5px;
  border: 1px solid var(--c-secondary06);
  background-color: var(--c-secondary01);
  transition: box-shadow 0.2s;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &:hover {
    border: 1px solid var(--c-secondary04);
    box-shadow: 0px 4px 8px var(--c-shadow01);
  }

  @include global.mq("md") {
    width: calc((100% - 20px) / 2);

    &:not(:first-of-type) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 20px;
    }
  }

  @include global.mq("lg") {
    width: calc((100% - 20px * 2) / 3);

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: 20px;
    }
  }
}

.p-home-repository__name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-en);
  letter-spacing: 0.025em;
}

.p-home-repository__description {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.025em;
  color: var(--c-primary04);
}

.p-home-repository__info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-home-repository__lang {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-family: var(--font-en);
  color: var(--c-primary08);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translateY(calc(-50% - 1px));
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--c-primary01), var(--c-primary08));
  }
}

.p-home-repository__icon {
  width: 16px;

  svg {
    width: 100%;
    height: auto;
  }
}

[data-theme="dark"] .p-home-repository__icon {
  img {
    filter: brightness(0) invert(1);
  }
}

.p-home-repository__button-wrap {
  margin-top: 40px;
  text-align: center;

  @include global.mq("md") {
    margin-top: 60px;
  }
}
