@use "../global" as global;

.p-work-main {
  margin-top: 50px;
}

.p-work-main__contents {
  > *:first-child,
  > *:first-child * {
    margin-top: 0;
  }

  > *:last-child,
  > *:last-child * {
    margin-bottom: 0;
  }

  h2 {
    margin: 50px 0 25px;
    font-size: 26px;
    font-weight: 500;
  }

  // 文章
  p {
    margin-top: 20px;
    line-height: 2;
  }

  a {
    color: #6d9aed;
    text-decoration: underline;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  // list
  ul {
    margin: 20px 0;
    padding-left: 15px;
  }

  li {
    position: relative;
    padding-left: 15px;
    line-height: 1.75;

    &:not(:first-of-type) {
      margin-top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: global.$c-black;
    }
  }

  // 画像
  img {
    display: block;
    width: 100%;
    margin: 50px 0;
  }
}

.p-works-main__button-wrap {
  margin-top: 75px;
  text-align: center;
}
